# =======================
# Maven / Build
# =======================
target/
*/target/
*/dependency-reduced-pom.xml
*/buildNumber.properties
*/.mvn/timing.properties

# =======================
# Java compiled files
# =======================
*.class
*.jar
*.war
*.ear

# =======================
# Logs / Temp
# =======================
*.log
*.out
*.tmp
*.swp
*~
hs_err_pid*
replay_pid*

# =======================
# IDE / Editors
# =======================
# VSCode
.vscode/
.history/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# =======================
# OS Files
# =======================
.DS_Store
Thumbs.db

# Ignorar Db.java
pagina-web/src/main/java/com/umg/utils/Db.java
