.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  max-height: 90vh;
  width: 100vw;

  /* & .page-part:first-child {
    width: 80%;
  }

  & .page-part:last-child {
    width: 20%;
  } */
}

.sidebar-list {
  list-style: none;
}
